body {
  background-color: #4bc1a0a3;
  align-items: center;
}
div {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  display: block;
}
img {
  border: 3px solid rgb(16, 126, 150);
  display: inline;
  padding: 3px;
  background-color: rgb(20, 183, 220);
}
